<%- model_class = Message.new.class -%>

<div class="row-fluid">
  <div class="topper">
    <div class="span6 slide-deck">
      <img src="/assets/colors.jpg" />
    </div>
    <div class="span2"></div>
    <div class="span4 user-list">
      <ul class="nav nav-list">
        <li class="nav-header">
          Users in Chat
        </li>
        <li class="active">
          <a href="#">User A</a>
        </li>
        <li>
          <a href="#">User B</a>
        </li>
      </ul>
    </div>
  </div>
</div>  

<div class="row-fluid chat">
  <div class="span8">
    <table class="table">
      <tbody id="scroller">
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4 submit-box">
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_area :body %>
      <p />
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>





